<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{{ partial "meta" . }}
		<link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
		<link rel="preconnect" href="//ajax.googleapis.com" crossorigin>
		<style>{{ readFile "themes/wilks/static/css/main.css" | safeCSS }}</style>
		{{ with .OutputFormats.Get "RSS" -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
		{{- end }}
		<link rel="icon" type="image/svg+xml" href="{{ "images/favicon.svg" | relURL }}">
	</head>
	<body class="theme-{{ lower .Page.Type }}{{ if .IsHome }} is-front{{ end }} ">
		{{ partial "header" . }}
		<main>
			{{ block "main" . }}{{ end }}
		</main>
		{{ partial "footer" . }}
		<script src="{{ "scripts/main.js" | relURL }}"></script>
	</body>
</html>
