<a href="{{ .Params.website }}" title="Visit {{ .Title }}" class="teaser teaser--work" target="_blank" rel="noopener noreferrer">
  {{ if .Params.logo }}
  <div class="teaser__image" {{ if .Params.color }}style="background-color:{{ .Params.color }};"{{ end }}>
    {{ readFile (print "themes/wilks/static/images/" (.Params.logo)) | safeHTML }}
  </div>
  {{ end }}
  <div class="teaser__content">
    <h2 class="teaser__title">{{ .Title }}</h2>
    <div class="teaser__footer">
      {{ if .Params.tags }}
      <ul class="tags">
        {{ range .Params.tags }}
        <li class="tags__item">{{ . }}</li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</a>