.post-list {
  list-style: none;
}

.post-list__item {
  width: 100%;
  margin-bottom: 3rem;
  display: block;
}

.latest {
  display: flex;
}

.latest__col {
  width: 50%;
}

.latest__heading {
  margin-top: 0;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: bold;

  a {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $color-dark;
    background-color: $color-primary-default;
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    margin-left: 0.5rem;
  }
}

.teaser {
  position: relative;
  text-decoration: none;
  width: 100%;
  text-align: left;

  * {
  
  }
}

.teaser__title {
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  transition: color ease-in-out 0.2s;
  text-align: left;
  color: $color-secondary-default;
}

// .teaser__date {
//   font-weight: $font-weight-black;
//   font-size: $font-size-small;
//   color: #bbb;
// }

.read-time {
  margin-top: auto;
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-dark;
}

// .teaser--drupal {
//   background-color: #0077C0;
//   //color: #0077C0;
// }

// .teaser--performance {
//   background-color: #2e8b57;
// }

// .teaser--personal {
//   background-color: #EF8354;
// }

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
}

.tags__item {
  margin-left: 1rem;
  padding: 0.8rem 1rem 0.8rem;
  color: $color-dark;
  background-color: $color-light;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  line-height: 1;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

// .tags__item--drupal {
//   background-color: #0077C0;
// }

// .tags__item--performance {
//   background-color: #2e8b57;
// }

// .tags__item--personal {
//   background-color: #7b68ee;
// }

.date-time {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
}

.pager {
  font-size: $font-size-small;
  font-weight: $font-weight-black;
  color: $color-dark;
  text-align: left;
  margin-top: 2rem;
}

article {
  // background: #FFF1D0;
  // background-image: linear-gradient(to left top,rgba(255,255,255,0.015) 50%,transparent 50%);
  
  * {
    color: $color-dark;
  }
}