.post-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;

  @media #{$breakpoint-small-x} {
    flex-direction: column;
    margin: 0 -1rem;
  }
}

.post-list__item {
  width: 33.333%;
  padding: 2rem;
  display: block;
  position: relative;

  @media #{$breakpoint-large-x} {
    width: 50%;
  }

  @media #{$breakpoint-medium-x} {
    width: 100%;
  }

  @media #{$breakpoint-small-x} {
    padding: 1rem;
  }
}

.section {
  padding: 10rem 10rem 10rem var(--frame-gap);
  background-color: var(--theme-default);
  border-radius: 0.5rem;

  @media #{$breakpoint-medium} {
    padding: var(--frame-gap) 10rem 10rem 10rem;
  }

  @media #{$breakpoint-small-x} {
    padding: var(--frame-gap) 2rem 3rem 2rem;
  }
}

.section--latest {
  @media #{$breakpoint-medium} {
    padding: 7.5rem 10rem;
  }

  @media #{$breakpoint-small-x} {
    padding: 3rem 2rem 3rem 2rem;
  }
}

.section:not(:last-child) {
  margin-bottom: var(--section-gap);
}

.section--articles {
  background-color: var(--theme-article);
}

.section--work {
  background-color: var(--theme-work);
}

.section__heading {
  margin-top: 0;
  margin-bottom: var(--section-gap);
  font-weight: $font-weight-bold;
}

.section__button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: var(--color-text);
  background-color: #FFF;
  font-size: 1.4rem;
  font-weight: $font-weight-bold;
  margin-left: 0.5rem;
}

.section__intro {
  font-size: var(--font-size-intro);
  font-weight: $font-weight-medium;
  line-height: 1.2;
  margin-bottom: 3rem;
  max-width: 75rem;
}

.teaser {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: ease-in-out transform 0.2s;
  background-color: $color-light;
  box-shadow: $box-shadow;
  transform: scale(1);

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.teaser__image {
  background-color: rgba(0,0,0,.05);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 4rem 2rem;

  img {
    height: 4rem;
    max-width: none;
    width: auto;
    display: block;
    margin: auto;
  }
}

.teaser__content {
  text-align: left;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  transition: ease-in-out all 0.2s;
  flex: 1;

  @media #{$breakpoint-small-x} {
    padding: 2rem;
  }
}

.teaser__title {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 2rem;
  transition: color ease-in-out 0.2s;
  text-align: left;
  color: $color-primary-default;
  font-weight: $font-weight-bold;

  @media #{$breakpoint-small-x} {
    font-size: 1.8rem;
  }
}

.teaser__footer {
  margin-top: auto;
  line-height: 1.4;
  color: var(--color-text);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 1.5rem;
  background-image: url("../images/icon-tag.svg");
  background-position: top 0.25rem left;
  background-repeat: no-repeat;
  background-size: 1.5rem auto;
  padding-left: 2rem;
}

.tags__item {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: $font-weight-semi-bold;
  background-color: rgba(0,0,0,.05);
  margin-bottom: 0.5rem;
}

.tags__item:not(:last-child) {
  margin-right: 0.5rem;
}

.teaser__date {
  background-image: url("../images/icon-cal.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.5rem auto;
  padding-left: 2rem;
  font-weight: $font-weight-semi-bold;
  font-size: 1.2rem;
}