.site-container {
  background-color: #f9f9f9;
  max-width: 120rem;
  min-height: 100%;
  padding: 5rem 10rem;
  margin-right: 5rem;
  position: relative;

  @media #{$breakpoint-medium} {
    padding: 5rem;
  }

  @media #{$breakpoint-small-x} {
    padding: 2rem;
    margin-right: 1rem;
  }
}

article p {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

footer {
  font-size: 1.2rem;
  color: #111;
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: 0.2rem solid rgba(0, 0, 0, .05);
}

footer a {
  color: inherit;
  text-decoration: none;
}

section {
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: 0.2rem solid rgba(0, 0, 0, .05);
}

code {
  padding: 2rem;
  display: block;
  background: #eee;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: scroll;
}