.site-container {
  min-height: 100%;
  position: relative;
  background-color: lighten($color-primary-default, 15%);
  margin-left: 35rem;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  font-size: 1.4rem;
  color: $color-light;
  padding: 5rem 10rem;
  margin-top: auto;
}

footer a {
  color: inherit;
  text-decoration: none;
}

section {

  &.latest {
    padding: 5rem 0 10rem;
  }
}


code {
  padding: 2rem;
  display: block;
  background: #0C090D;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: scroll;
  border: 0.1rem solid rgba($color-light, 0.1);
}