{{ define "main" }}
<article class="animate fadein">
  <header class="banner">
    <h1 class="banner__title">{{ .Title }}</h1>
    {{ if .Params.intro }}
    <p class="banner__intro">{{ .Params.intro }}</p>
    {{ end }}
  </header>

  <div class="content">
    <div class="content__main typography">
      {{ .Content }}
      <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&via=thebrainroom" class="button button--twitter" target="_blank" rel="noopener noreferrer">Discuss on Twitter</a>
    </div>
  </div>
</article>
{{ partial "other-articles.html" . }}
{{ end }}