{{ define "main" }}
<article class="animate fadein">
  <header class="banner">
    <h1 class="banner__title">{{ .Title }}</h1>
    {{ if .Params.intro }}
    <p class="banner__intro">{{ .Params.intro }}</p>
    {{ end }}
  </header>

  <div class="content">
    <div class="content__main typography">
      {{ .Content }}
      <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&via=thebrainroom" class="button button--twitter" target="_blank" rel="noopener noreferrer">Discuss on Twitter</a>
    </div>
  </div>
</article>
{{ partial "other-articles.html" . }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": "{{ .Title }}",
    "image": "{{ .Site.BaseURL }}images/favicon.svg",
    "author": {
      "@type": "Person",
      "name": "Tom Wilks"
    },  
    "publisher": {
      "@type": "Organization",
      "name": "Tom Wilks",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.BaseURL }}images/favicon.svg"
      }
    },
    "datePublished": "{{ .Date }}"
  }
</script>
{{ end }}