.site-header {
  width: 100%;
  max-width: 35rem;
  padding: 5rem;
  position: relative;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $color-primary-default;
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;

  * {
    position: relative;
    z-index: 1;
  }
}

.banner {
  margin: -5rem -10rem 0;
  padding: 5rem 10rem;
  background-color: $color-secondary-default;
  position: relative;
  border-bottom: 1rem solid rgba(0,0,0,0.025);
  margin-bottom: 5rem;
  transition: 0.2s ease-in-out background-color;
  

  * {
    color: $color-primary-default;
    position: relative;
  }

  * + * {
    margin-top: 5rem;
  }
}

.banner__title {
  font-size: 5rem;
  font-weight: $font-weight-bold;
}

.banner__intro {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.banner__title,
.banner__intro {
  max-width: 95rem;
}

.banner--front {
  padding: 5rem 10rem 10rem;

  .banner__title,
  .banner__intro {
    max-width: 65rem;
  }

  &:before {
    content: "";
    background-image: url("../images/wiggles.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    top: -5rem;
    bottom: -7.5rem;
    position: absolute;
    right: 10rem;
    opacity: 0.05;
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
}

.site-nav__link {
  font-size: 2.5rem;
  font-weight: $font-weight-bold;
  text-decoration: none;
  color: $color-secondary-default;
  transition: border-color ease-in-out 0.2s;
  padding-bottom: 1rem;
  transition: 0.2s ease-in-out color;
}

.logo {
  background-image: url("../images/logo-round-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 4.5rem;
  height: 3.3rem;
  background-size: 4.5rem auto;
  display: block;
  //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-right: 10rem;
  text-indent: -9999em;
  transition: all ease-in-out 0.2s;
  border-radius: 0.25rem;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 transparent;
  }
}

.logo-alt {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10rem;
  text-decoration: none;
  letter-spacing: -0.1rem;
  color: $color-secondary-default;
  transition: 0.2s ease-in-out color;
}