.site-header {
  width: 100%;
  margin-bottom: 10rem;

  @media #{$breakpoint-small-x} {
    margin-bottom: 8rem;
  }
}

.intro {
  font-size: 5rem;
  font-weight: $font-weight-black;
  color: #111;

  @media #{$breakpoint-medium} {
    font-size: $font-size-large;
  }

  @media #{$breakpoint-small-x} {
    font-size: 2.5rem;
  }

  a {
    color: $color-brand-orange;
    text-decoration: none;
    font-weight: $font-weight-black;
    border-bottom: 0.5rem solid $color-brand-orange;
    transition: border-color ease-in-out 0.2s;

    &:hover,
    &:focus {
      border-color: $color-dark;
    }
  }
}

.site-nav {
  display: flex;
  align-items: flex-end;
}

.site-nav__link {
  font-size: 1.5rem;
  font-weight: $font-weight-black;
  text-decoration: none;
  color: $color-dark;
  border-bottom: 0.2rem solid #DDD;
  padding-bottom: 0.5rem;
  transition: border-color ease-in-out 0.2s;

  &:hover,
  &:focus {
    border-color: $color-dark;
  }
}

.site-nav__link:not(:last-child) {
  margin-right: 5rem;

  @media #{$breakpoint-small-x} {
    margin-right: 2.5rem;
  }
}

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 5rem;
  background-size: 4rem auto;
  display: block;
  background-color: $color-light;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  text-indent: -9999em;
  transition: all ease-in-out 0.2s;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 $color-light;
    background-color: $color-brand-yellow;
  }
}