// sass-lint:disable-block no-vendor-prefixes
:root {
  --font-family: "Quicksand", sans-serif;
  --font-size-logo: 6rem;
  --color-text: #1C1C1C;
  --color-contrast-primary: #FFF;
  --color-teaser: #FFF;
  --color-primary: #d8033f;
  --theme-default: hsla(52, 100%, 71%, 1);
  --theme-article: hsla(107, 86%, 86%, 1);
  --theme-work: hsla(271, 52%, 74%, 0.75);
  --box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.02), 0 0.2rem 0.4rem rgba(0,0,0,0.02), 0 0.4rem 0.8rem rgba(0,0,0,0.02), 0 8px 1.6rem rgba(0,0,0,0.02), 0 1.6rem 3.2rem rgba(0,0,0,0.02), 0 3.2rem 6.4rem rgba(0,0,0,0.02);
  --frame-gap: 35rem;
  --frame: 7.5rem;
  --section-gap: 5rem;

  @media #{$breakpoint-large} {
    --frame-gap: 20rem;
    --frame: 5rem;
    --section-gap: 5rem;
    --font-size-logo: 4rem;
  }

  @media #{$breakpoint-small-x} {
    --frame-gap: 13rem;
    --frame: 2rem;
    --section-gap: 2rem;
    --font-size-logo: 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  font-display: swap;
  font-size: 1.6rem;
  color: var(--color-text);
  position: relative;
  background-position: left;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 500;
  height: 100%;
  background-color: var(--color-contrast-primary);
}