// sass-lint:disable-block no-vendor-prefixes
:root {
  --font-family: "Quicksand", sans-serif;
  --font-size-logo: 6rem;
  --color-text: #1C1C1C;
  --color-contrast-primary: #000;
  --color-contrast-secondary: #FFF;
  --color-primary: #d8033f;
  --theme-default: #ffeb6b;
  --theme-article: #cbfabe;
  --theme-work: #be9bdf7a;
  --frame-gap: 35rem;
  --frame: 7.5rem;
  --section-gap: 5rem;

  @media #{$breakpoint-large} {
    --frame-gap: 20rem;
    --frame: 5rem;
    --section-gap: 5rem;
    --font-size-logo: 4rem;
  }

  @media #{$breakpoint-small-x} {
    --frame-gap: 13rem;
    --frame: 2rem;
    --section-gap: 2rem;
    --font-size-logo: 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  font-display: swap;
  font-size: 1.6rem;
  color: var(--color-text);
  position: relative;
  background-position: left;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 500;
  height: 100%;
}