h1 {
  font-weight: 800;
  font-size: 5rem;
  color: $color-dark;

  @media #{$breakpoint-small-x} {
    font-size: $font-size-medium;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: $font-weight-semi-bold;

  @media #{$breakpoint-small-x} {
    font-size: $font-size-regular;
  }
}

em {
  font-size: 1.2rem;
}

.typography {

  * + * {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  p {
    font-size: 2rem;
    line-height: 1.6;

    @media #{$breakpoint-small-x} {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  > p:first-of-type {
    font-size: 2.4rem;
    font-weight: $font-weight-semi-bold;
  }

  ol,
  ul {
    list-style-position: inside;
    font-size: $font-size-regular;
    line-height: 1.5;

    ul,
    ol {
      margin-bottom: 1rem;
      margin-left: 2rem;
    }

    @media #{$breakpoint-small-x} {
      font-size: 1.5rem;
    }

    li {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  li a {
    color: #111;
  }
}

a {
  color: $color-dark;
  font-weight: $font-weight-bold;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}