.button {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: $color-light;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-text);
  font-weight: $font-weight-bold;

  @media #{$breakpoint-small-x} {
    font-size: 1.6rem;
  }
}

.button--twitter {
  color: #FFF;
  background-color: #1da1f2;
  background-image: url("../images/twitter-icon.svg");
  background-repeat: no-repeat;
  background-position: left 2rem center;
  padding-left: 6rem;
  background-size: 2.5rem auto;
}