{{ define "main" }}
  <div class="site-header__content">
    <p class="site-header__blurb">My name is Tom Wilks</br> I develop modern & robust front-end
      experiences at <a href="https://thisisbliss.com">Bliss</a> in Manchester.</p>
  </div>
  {{ partial "sidebar.html" . }}
  <section>
    <h1>Articles ✍🏻</h1>
    <ol>
      {{ range first 10 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <em>({{ .Date.Format "January 2, 2006" }})</em>
      </li>
      {{ end }}
    </ol>
  </section>
{{ end }}
