* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  color: #111;
  height: 100%;
  background-color: #F9D423;
  -webkit-animation: colour-fade 30s ease-in-out infinite;
          animation: colour-fade 30s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: relative;
}

@-webkit-keyframes colour-fade {
  0% {
    background-color: #F9D423;
  }
  50% {
    background-color: #ff4e50;
  }
  100% {
    background-color: #F9D423;
  }
}

@keyframes colour-fade {
  0% {
    background-color: #F9D423;
  }
  50% {
    background-color: #ff4e50;
  }
  100% {
    background-color: #F9D423;
  }
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ol,
ul {
  list-style-position: inside;
  margin-left: 2rem;
  font-size: 1.8rem;
}

ul ul {
  margin-top: 1rem;
}

li a {
  color: #111;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

a:not([class]) {
  color: #111;
  font-weight: 700;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: 600;
  padding: 1rem;
}

td {
  padding: 1rem;
}

tr,
td,
th {
  vertical-align: middle;
}

.site-header {
  width: 100%;
  margin-bottom: 10rem;
}

.site-header__content {
  position: relative;
  z-index: 1;
}

.site-header__blurb {
  font-size: 5rem;
  margin-top: 10rem;
  font-weight: 800;
  color: #111;
  margin-bottom: 3rem;
}

.site-header__blurb a {
  color: #ff4e50;
  text-decoration: none;
  font-weight: 800;
  border-bottom: 0.3rem solid #ff4e50;
}

.site-header__title {
  font-size: 6rem;
  margin-top: 10rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 3rem;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.site-nav__link {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #111;
  border-bottom: 0.2rem solid #111;
  padding-bottom: 0.5rem;
}

.site-nav__link:not(:last-child) {
  margin-right: 5rem;
}

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 5rem;
  background-size: 4rem auto;
  display: block;
  background-color: transparent;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  text-indent: -9999em;
}

.site-container {
  background-color: #f9f9f9;
  max-width: 120rem;
  min-height: 100%;
  padding: 5rem 10rem;
  margin-right: 5rem;
  position: relative;
}

article p {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

footer {
  font-size: 1.2rem;
  color: #111;
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.05);
}

footer a {
  color: inherit;
  text-decoration: none;
}

section {
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.05);
}

code {
  padding: 2rem;
  display: block;
  background: #eee;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
