* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Muli", sans-serif;
  font-size: 1.6rem;
  color: #111;
  height: 100%;
  background-color: #F9D423;
  position: relative;
}

@-webkit-keyframes colour-fade {
  0% {
    background-color: #F9D423;
  }
  50% {
    background-color: #ff4e50;
  }
  100% {
    background-color: #F9D423;
  }
}

@keyframes colour-fade {
  0% {
    background-color: #F9D423;
  }
  50% {
    background-color: #ff4e50;
  }
  100% {
    background-color: #F9D423;
  }
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 40.625em) {
  h1 {
    font-size: 2rem;
  }
}

.icon {
  padding-right: 4rem;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 25px;
  display: inline-block;
}

@media only screen and (max-width: 40.625em) {
  .icon {
    background-size: auto 20px;
    padding-right: 3rem;
  }
}

.icon--article {
  background-image: url("../images/articles.svg");
}

.icon--work {
  background-image: url("../images/work.svg");
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 40.625em) {
  h2 {
    font-size: 1.8rem;
  }
}

em {
  font-size: 1.2rem;
  color: #111;
  background-color: #DDD;
}

.article-content p {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 40.625em) {
  .article-content p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.article-content ol,
.article-content ul {
  list-style-position: inside;
  margin-left: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

@media only screen and (max-width: 40.625em) {
  .article-content ol,
  .article-content ul {
    font-size: 1.5rem;
  }
}

.article-content ul ul {
  margin-top: 0.5rem;
}

.article-content li a {
  color: #111;
}

.article-content li:not(:last-child) {
  margin-bottom: 0.5rem;
}

a {
  color: #111;
  font-weight: 700;
}

a:hover, a:focus {
  text-decoration: none;
}

.simple-list {
  list-style-position: inside;
  margin-left: 2rem;
}

@media only screen and (max-width: 40.625em) {
  .simple-list {
    margin-left: 0;
  }
}

.simple-list__item {
  margin-bottom: 0.5rem;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: 600;
  padding: 1rem;
}

td {
  padding: 1rem;
}

tr,
td,
th {
  vertical-align: middle;
}

.site-header {
  width: 100%;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 40.625em) {
  .site-header {
    margin-bottom: 8rem;
  }
}

.intro {
  font-size: 5rem;
  font-weight: 800;
  color: #111;
}

@media only screen and (max-width: 50em) {
  .intro {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 40.625em) {
  .intro {
    font-size: 2.5rem;
  }
}

.intro a {
  color: #ff4e50;
  text-decoration: none;
  font-weight: 800;
  border-bottom: 0.5rem solid #ff4e50;
  -webkit-transition: border-color ease-in-out 0.2s;
  transition: border-color ease-in-out 0.2s;
}

.intro a:hover, .intro a:focus {
  border-color: #111;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.site-nav__link {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  color: #111;
  border-bottom: 0.2rem solid #DDD;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color ease-in-out 0.2s;
  transition: border-color ease-in-out 0.2s;
}

.site-nav__link:hover, .site-nav__link:focus {
  border-color: #111;
}

.site-nav__link:not(:last-child) {
  margin-right: 5rem;
}

@media only screen and (max-width: 40.625em) {
  .site-nav__link:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 5rem;
  background-size: 4rem auto;
  display: block;
  background-color: #FFF;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  text-indent: -9999em;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.logo:hover, .logo:focus {
  -webkit-box-shadow: 0 0 0 #FFF;
          box-shadow: 0 0 0 #FFF;
  background-color: #EEE;
}

.site-container {
  background-color: #f9f9f9;
  max-width: 120rem;
  min-height: 100%;
  padding: 5rem 10rem;
  margin-right: 5rem;
  position: relative;
}

@media only screen and (max-width: 50em) {
  .site-container {
    padding: 5rem;
  }
}

@media only screen and (max-width: 40.625em) {
  .site-container {
    padding: 2rem;
    margin-right: 1rem;
  }
}

footer {
  font-size: 1.2rem;
  color: #111;
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.05);
}

footer a {
  color: inherit;
  text-decoration: none;
}

section {
  padding-top: 5rem;
  margin-top: 5rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.05);
}

code {
  padding: 2rem;
  display: block;
  background: #eee;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: scroll;
}

.post-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem;
}

@media only screen and (max-width: 40.625em) {
  .post-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.post-list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 1rem;
}

@media only screen and (max-width: 40.625em) {
  .post-list__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

.teaser {
  padding: 2.5rem 2rem;
  background-color: #111;
  height: 100%;
  border-top: 0.5rem solid #F9D423;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #F9D423;
}

.teaser * {
  color: #FFF;
}

.teaser:hover .teaser__title, .teaser:focus .teaser__title {
  color: inherit;
}

.teaser__title {
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}

.teaser__date {
  font-weight: 800;
  font-size: 1.2rem;
  color: #d1d1d1;
}

.read-time {
  margin-top: auto;
  color: #d1d1d1;
  font-size: 1.5rem;
}

.teaser--drupal {
  border-color: #0077C0;
  color: #0077C0;
}

.teaser--performance {
  border-color: #2e8b57;
  color: #2e8b57;
}

.teaser--personal {
  border-color: #7b68ee;
  color: #7b68ee;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  position: absolute;
  right: 2rem;
  top: 0;
}

.tags__item {
  margin-right: 1rem;
  padding: 0.5rem;
  color: #FFF;
  background-color: #F9D423;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.5rem;
}

.tags__item--drupal {
  background-color: #0077C0;
}

.tags__item--performance {
  background-color: #2e8b57;
}

.tags__item--personal {
  background-color: #7b68ee;
}

.date-time {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #111;
  font-weight: 600;
}

.pager {
  font-size: 1.2rem;
  font-weight: 800;
  color: #111;
  text-align: left;
  margin-top: 2rem;
}
