<section class="typography">
  <h2>Skillset</h2>
  <ul>
    <li>HTML5
      <ul>
        <li>Semantic</li>
        <li>Accessible</li>
      </ul>
    </li>
    <li>CSS
      <ul>
        <li>DRY, Flexible &amp; Scalable</li>
        <li>BEM &amp; Atomic Methodologies</li>
        <li>Device Agnostic</li>
      </ul>
    </li>
    <li>Sass</li>
    <li>JavaScript &amp; jQuery</li>
    <li>Gulp &amp; Grunt</li>
    <li>Git</li>
    <li>Drupal (7 &amp; 8)
      <ul>
        <li>Theming</li>
        <li>CMS Development</li>
        <li>Bespoke</li>
      </ul>
    </li>
    <li>Twig</li>
    <li>PHP</li>
    <li>Docker &amp; Docker Compose</li>
  </ul>
</section>