<main class="site-layout">
  <header class="site-header">
    <nav class="site-nav">
      <a href="/" class="logo"></a>
      {{ with .Site.Menus.main}}
      {{ range sort . }}
      <a class="site-nav__link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      {{ end }}
      {{ end }}
    </nav>
    <div class="site-header__content">
      <p class="site-header__blurb">My name is Tom Wilks</br> I develop modern & robust front-end
        experiences at <a href="https://thisisbliss.com">Bliss</a> in Manchester.</p>
    </div>
  </header>
  <article>
    <h1>Sites Launched 🚀</h1>
    <ol>
      <li>
        <a href="https://tuco.ac.uk">https://tuco.ac.uk</a>
        <em>(Front end & Drupal 8)</em>
      </li>
      <li>
        <a href="https://ipaf.org">https://ipaf.org</a>
        <em>(Front end & Multilingual Drupal 8)</em>
      </li>
      <li>
        <a href="https://argyllholidays.com">https://argyllholidays.com</a>
        <em>(Front end & Drupal 8)</em>
      </li>
      <li>
        <a href="https://argyllholidayhomesales.com">https://argyllholidayhomesales.com</a>
        <em>(Front end & Drupal 8)</em>
      </li>
      <li>
        <a href="http://jlr-triage.com">http://jlr-triage.com</a>
        <em>(Front end & Multilingual Drupal 7)</em>
      </li>
      <li>
        <a href="https://www.thenewhumanitarian.org/">https://www.thenewhumanitarian.org/</a>
        <em>(Front end & Multilingual Drupal 7)</em>
      </li>
      <li>
        <a href="https://clarachbay.com">https://clarachbay.com</a>
        <em>(Front end & Drupal 8)</em>
      </li>

    </ol>
    <h1>Articles ✍🏻</h1>
    <ul>
      {{ range .Pages }}
      <li>
        <span>{{ .Date.Format "January 2, 2006" }}</span><a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </article>
</main>