{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">
{{ end }}
{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">
{{ end }}
<meta property="og:title" content="Tom Wilks - Web Developer from Manchester" />
{{ with .Site.Params.description }}
<meta name="og:description" content="{{ . }}" />
{{ end }}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ "images/share.svg" | absURL }}" />